.goalProgress {
  background: #FFFFFA;
}

.progressBar {
  background: #8783D1;
  color: #fff;
  font-size: .5em;
  display: block;
  overflow: hidden;
  width: 20px;
  color: #8783D1;
}

.goalAmount {
  display: none !important;
  text-indent: -9999px;
}
